<ion-header class="bg-theme">
  <ion-navbar>
    <ion-title>Tabela de Preços</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-tables-price-add">
  <ion-list>
    <ion-card>
      <ion-card-header>
        <h3 style="color: white;">Configuração da Tabela</h3>
      </ion-card-header>
      <ion-card-content>
        <ion-item no-lines>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked>Descrição</ion-label>
          <ion-input type="text" [(ngModel)]="description"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-card-header>
        <h3  style="color: white;">Configuração de Preços</h3>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item no-lines>
                <ion-label stacked>Preço Base (R$)</ion-label>
                <ion-input type="number" [(ngModel)]="valueStart"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item no-lines>
                <ion-label stacked>Valor por KM (R$)</ion-label>
                <ion-input type="number" [(ngModel)]="valuePerKm"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item no-lines>
                <ion-label stacked>Taxa de Retorno (R$)</ion-label>
                <ion-input type="number" [(ngModel)]="valueReturn"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <button *ngIf="!key" ion-button block (click)="add()">Adicionar</button>
  <button *ngIf="key" ion-button block (click)="save()">Salvar</button>
</ion-footer>