
// Estilo global para o header
ion-header.bg-theme {
    background: linear-gradient(90deg, #007bff, #00c4ff) !important;
    color: #fff !important;
  
    ion-navbar {
      background: linear-gradient(90deg, #007bff, #00c4ff) !important;
      color: #fff !important;
  
      .toolbar-background {
        background: linear-gradient(90deg, #007bff, #00c4ff) !important;
      }
  
      .toolbar-title,
      ion-title {
        color: #fff !important;
        font-size: 1.5rem !important;
        font-weight: 600 !important;
        display: flex !important;
        align-items: center !important;
        letter-spacing: 0.5px !important;
        text-transform: uppercase !important;
      }
  
      .bar-button-default-md,
      .bar-button-clear-md-default,
      .bar-button-md-default,
      .bar-button-default-ios,
      .bar-button-clear-ios-default,
      .bar-button-ios-default,
      .bar-button-default-wp,
      .bar-button-clear-wp-default,
      .bar-button-wp-default {
        color: white !important;
        background: transparent !important;
      }
  
      ion-icon {
        color: #fff !important;
        font-size: 2.2rem !important;
      }
  
      .back-button {
        color: #fff !important;
        font-size: 2.2rem !important;
        margin-right: 10px !important;
      }
  
      .back-button-icon {
        color: #fff !important;
        font-size: 2.2rem !important;
      }
  
      .show-back-button {
        display: block !important;
      }
    }
  }
  
  ion-content {
    background: #f4f5f8 !important;
  }